/* including macros */
.noTapHighlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.boxChild {
  display: block;
  position: relative;
  box-flex: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
}
.hCenterBox {
  position: relative;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.vCenterBox {
  position: relative;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.noflex {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.spring {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.backgroundFullWidth {
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}
.backgroundCover {
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: 100% 100%;
  -webkit-background-size: cover;
}
.backgroundContain {
  background-repeat: no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: 100% 100%;
  -webkit-background-size: contain;
}
.clearAppearance {
  -moz-appearance: none;
  -webkit-appearance: none;
}
/*** Generic css for hope project ***/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
}
/* make input boxes selectable */
input, textarea {
  -moz-user-select: text;
  -webkit-user-select: text;
}
/* add flex to an element by giving it a flex attribute */
*[flex] {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  box-flex: 1 !important;
}
*[flex='1'] {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  box-flex: 1 !important;
}
*[flex='2'] {
  -webkit-box-flex: 2 !important;
  -moz-box-flex: 2 !important;
  box-flex: 2 !important;
}
*[flex='3'] {
  -webkit-box-flex: 3 !important;
  -moz-box-flex: 3 !important;
  box-flex: 3 !important;
}
*[flex='4'] {
  -webkit-box-flex: 4 !important;
  -moz-box-flex: 4 !important;
  box-flex: 4 !important;
}
*[flex='5'] {
  -webkit-box-flex: 5 !important;
  -moz-box-flex: 5 !important;
  box-flex: 5 !important;
}
/* center (inline-block) children by adding @center attribute */
*[center] {
  text-align: center;
}
section,
container,
header,
footer,
ui,
border,
group,
notice,
panel {
  position: relative;
  display: block;
}
inline, output {
  display: inline-block;
}
/*** horizontal and vertical stretch boxes ***/
vbox {
  position: relative;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-align: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
}
vbox * {
  display: block;
  position: relative;
  box-flex: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
}
/*** Blocks of inline javascript or xml ***/
js,
properties,
set,
get,
on {
  display: none;
}
dataset {
  display: block;
}
/*** Generic attribute stuff ***/
/* hide things with [visible=no] */
*[visible=no] {
  display: none !important;
}
hcenter, center {
  position: relative;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
vcenter {
  position: relative;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
/*** generic mask, centers contents horizontally and vertically.  dark mask.  ***/
mask {
  position: relative;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
/*** ad-hoc tables ***/
row {
  display: table-row !important;
  width: 100%;
}
row > * {
  display: table-cell !important;
  vertical-align: top;
}
/*** Search-style input ***/
.gecko input[type=search] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 0px;
  background: url(theme/ios/searchFieldIcon.png) white no-repeat 5px center;
  color: black;
  min-height: 24px !important;
  padding-left: 30px;
  min-width: 80px;
}
input[type=search] {
  font-size: 18px;
  width: 180px;
  max-width: 180px;
}
input[appearance=smallNumber] {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-appearance: none;
  border: 0px;
  width: 3em;
  text-align: right;
  vertical-align: top;
  padding: 5px;
  font-size: 1.3em;
  margin-bottom: 8px;
}
/*** Action elements - basically, buttons ***/
/* default for actions is to look like buttons */
action {
  position: relative;
  display: inline-block;
  border: 1px outset black;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  padding: 2px 5px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.3em;
}
action[icon] {
  padding-left: 40px;
  background-position: left center;
  background-repeat: no-repeat;
}
action[appearance=icon] {
  background-color: none;
  border: 0px;
  padding: 0px;
  vertical-align: baseline;
}
action[appearance=blue] {
  height: 32px !important;
  max-height: 32px;
  background-color: none;
  border-color: transparent;
  border-width: 9px 15px 8px 15px;
  border-image: url(theme/ios/blueBtn.png) 9 15 8 15 round;
  -moz-border-image: url(theme/ios/blueBtn.png) 9 15 8 15 round;
  -webkit-border-image: url(theme/ios/blueBtn.png) 9 15 8 15 round;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  padding: 0px;
  margin-right: 5px;
}
action[appearance=blue][selected] {
  border-color: transparent;
  border-width: 9px 15px 8px 15px;
  border-image: url(theme/ios/blueBtn-selected.png) 9 15 8 15 round;
  -moz-border-image: url(theme/ios/blueBtn-selected.png) 9 15 8 15 round;
  -webkit-border-image: url(theme/ios/blueBtn-selected.png) 9 15 8 15 round;
}
action[appearance=red] {
  height: 32px !important;
  max-height: 32px;
  background-color: none;
  border-color: transparent;
  border-width: 9px 15px 8px 15px;
  border-image: url(theme/ios/redBtn.png) 9 15 8 15 round;
  -moz-border-image: url(theme/ios/redBtn.png) 9 15 8 15 round;
  -webkit-border-image: url(theme/ios/redBtn.png) 9 15 8 15 round;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  padding: 0px;
  margin-right: 5px;
}
action[appearance=blueBar] {
  height: 32px !important;
  max-height: 32px;
  background-color: none;
  border-color: transparent;
  border-width: 6px 1px 6px 1px;
  border-image: url(theme/ios/blueBar.png) 6 1 6 1 round;
  -moz-border-image: url(theme/ios/blueBar.png) 6 1 6 1 round;
  -webkit-border-image: url(theme/ios/blueBar.png) 6 1 6 1 round;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  padding: 3px 15px;
  line-height: 13px;
}
action[appearance=blueBar]:first-child {
  border-color: transparent;
  border-width: 6px 0px 6px 6px;
  border-image: url(theme/ios/blueBar-start.png) 6 0 6 6 round;
  -moz-border-image: url(theme/ios/blueBar-start.png) 6 0 6 6 round;
  -webkit-border-image: url(theme/ios/blueBar-start.png) 6 0 6 6 round;
}
action[appearance=blueBar]:last-child {
  border-color: transparent;
  border-width: 6px 6px 6px 1px;
  border-image: url(theme/ios/blueBar-end.png) 6 6 6 1 round;
  -moz-border-image: url(theme/ios/blueBar-end.png) 6 6 6 1 round;
  -webkit-border-image: url(theme/ios/blueBar-end.png) 6 6 6 1 round;
}
action[appearance=blueBar][selected] {
  border-color: transparent;
  border-width: 9px 15px 8px 15px;
  border-image: url(theme/ios/blueBar-selected.png) 9 15 8 15 round;
  -moz-border-image: url(theme/ios/blueBar-selected.png) 9 15 8 15 round;
  -webkit-border-image: url(theme/ios/blueBar-selected.png) 9 15 8 15 round;
}
action[appearance=blueBar][selected]:first-child {
  border-color: transparent;
  border-width: 6px 0px 6px 6px;
  border-image: url(theme/ios/blueBar-selected-start.png) 6 0 6 6 round;
  -moz-border-image: url(theme/ios/blueBar-selected-start.png) 6 0 6 6 round;
  -webkit-border-image: url(theme/ios/blueBar-selected-start.png) 6 0 6 6 round;
}
action[appearance=blueBar][selected]:last-child {
  border-color: transparent;
  border-width: 6px 6px 6px 1px;
  border-image: url(theme/ios/blueBar-selected-end.png) 6 6 6 1 round;
  -moz-border-image: url(theme/ios/blueBar-selected-end.png) 6 6 6 1 round;
  -webkit-border-image: url(theme/ios/blueBar-selected-end.png) 6 6 6 1 round;
}
action[appearance=prev] {
  overflow: hidden;
  height: 32px !important;
  max-height: 32px;
  border-color: transparent;
  border-width: 9px 15px 8px 20px;
  border-image: url(theme/ios/bluePrev.png) 9 15 8 20 round;
  -moz-border-image: url(theme/ios/bluePrev.png) 9 15 8 20 round;
  -webkit-border-image: url(theme/ios/bluePrev.png) 9 15 8 20 round;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  padding: 0px;
  margin-right: 5px;
  text-align: center;
}
action[appearance=prev]:hover {
  border-color: transparent;
  border-width: 9px 15px 8px 20px;
  border-image: url(theme/ios/bluePrev-selected.png) 9 15 8 20 round;
  -moz-border-image: url(theme/ios/bluePrev-selected.png) 9 15 8 20 round;
  -webkit-border-image: url(theme/ios/bluePrev-selected.png) 9 15 8 20 round;
}
action[appearance=next] {
  overflow: hidden;
  height: 32px !important;
  max-height: 32px;
  border-color: transparent;
  border-width: 9px 20px 8px 15px;
  border-image: url(theme/ios/blueNext.png) 9 20 8 15 round;
  -moz-border-image: url(theme/ios/blueNext.png) 9 20 8 15 round;
  -webkit-border-image: url(theme/ios/blueNext.png) 9 20 8 15 round;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  padding: 0px;
  margin-right: 5px;
  text-align: center;
}
action[appearance=next]:hover {
  border-color: transparent;
  border-width: 9px 20px 8px 15px;
  border-image: url(theme/ios/blueNext-selected.png) 9 20 8 15 round;
  -moz-border-image: url(theme/ios/blueNext-selected.png) 9 20 8 15 round;
  -webkit-border-image: url(theme/ios/blueNext-selected.png) 9 20 8 15 round;
}
.gecko action[appearance=blue], .gecko action[appearance=prev], .gecko action[appearance=next] {
  line-height: 13px;
}
/*** very big green buttons ***/
action[appearance=bigGreen] {
  height: 50px !important;
  max-height: 50px;
  background-color: none;
  border-color: transparent;
  border-width: 9px 25px 20px 25px;
  border-image: url(theme/ios/bigGreen.png) 9 25 20 25 round;
  -moz-border-image: url(theme/ios/bigGreen.png) 9 25 20 25 round;
  -webkit-border-image: url(theme/ios/bigGreen.png) 9 25 20 25 round;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
  padding: 0px;
  margin-right: 5px;
}
/*** scroller for some content ***/
scroller {
  display: block;
  position: absolute;
  -webkit-transition: -webkit-transform cubic-bezier(0, 0, 0.25, 1) 0;
  cursor: move;
  white-space: nowrap;
}
.gecko scroller {
  cursor: -moz-grab;
}
scroller.scrolling * {
  cursor: col-resize !important;
}
.gecko scroller.scrolling * {
  cursor: -moz-grabbing !important;
}
scroll-thumb {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  pointer-events: none;
  -webkit-transition-delay: 0;
  -webkit-transition-property: -webkit-transform;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
scroll-thumb.horizontal {
  -webkit-border-radius: 3px 2px;
  min-width: 6px;
  min-height: 5px;
}
scroll-thumb.vertical {
  -webkit-border-radius: 2px 3px;
  min-width: 5px;
  min-height: 6px;
}
scroll-thumb-mask {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: 300ms;
  -webkit-transition-delay: 0;
  -webkit-transition-property: opacity;
}
scroll-thumb-mask.horizontal {
  bottom: 2px;
  left: 2px;
  right: 7px;
  height: 5px;
}
scroll-thumb-mask.vertical {
  top: 2px;
  right: 2px;
  bottom: 7px;
  width: 5px;
}
/*** Sections: can have header and footers ***/
section > container {
  width: 100%;
  min-height: 100%;
}
section > container > section {
  display: block;
  height: 100%;
}
/*** Stack: section which shows one item at a time ***/
stack {
  display: block;
  width: 100%;
  height: 100%;
}
stack > container {
  width: 100%;
  height: 100%;
}
stack > container > section {
  width: 100%;
  height: 100%;
}
/*** Menu elements ***/
contextmenu {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10000;
  background: white;
  overflow: hidden;
  display: inline-block;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
  margin: 0;
  background-color: #999;
  border: 3px solid #999;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.mobile contextmenu {
  font-size: 150%;
}
contextmenu separator {
  display: block;
  height: 2px;
  overflow: hidden;
}
contextmenu group {
  display: block;
}
contextmenu action {
  display: block;
  width: 100%;
  background-color: white;
  border-color: transparent;
  margin: 1px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 15px;
}
contextmenu action:hover {
  background-color: #ffe933;
}
contextmenu action:active {
  background-color: lightblue;
}
contextmenu action[disabled] {
  opacity: .15;
  background-color: white !important;
  cursor: default;
}
contextmenu action[icon] {
  background-repeat: no-repeat;
  background-position: 6px center;
  padding-left: 29px;
}
contextmenu[showchecks] action {
  padding-right: 10px;
  border-right-width: 20px;
}
contextmenu action[selected] {
  border-color: transparent;
  border-width: 2px 20px 0px 0px;
  border-image: url(theme/icons/menuChecked.png) 2 20 0 0 stretch;
  -moz-border-image: url(theme/icons/menuChecked.png) 2 20 0 0 stretch;
  -webkit-border-image: url(theme/icons/menuChecked.png) 2 20 0 0 stretch;
}
/*** Toolbar ***/
toolbar {
  position: relative;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 100%;
  padding: 0px 10px;
}
toolbar > * {
  display: block;
  position: relative;
  box-flex: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
}
toolbar[appearance=black] {
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  border-width: 0 6px;
  border-color: transparent;
  border-width: 0 6px;
  border-image: url(theme/ios/topToolbar.png) 0 6 0 6 round;
  -moz-border-image: url(theme/ios/topToolbar.png) 0 6 0 6 round;
  -webkit-border-image: url(theme/ios/topToolbar.png) 0 6 0 6 round;
  height: 43px;
  width: 100%;
  padding: 0px 10px;
}
/*** Spring is a spacer which uses flex to greedily take up space ***/
spring {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  box-flex: 1 !important;
}
/*** Tabs and TabBar ***/
tabgroup {
  position: relative;
  display: box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-align: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  width: 100%;
  height: 100%;
}
tabgroup > * {
  display: block;
  position: relative;
  box-flex: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
}
tabgroup > container {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  box-flex: 1 !important;
  width: 100%;
  min-height: 100%;
  overflow: visible;
}
/* tabselector holds a bunch of actions which select tabgroup children */
toolbar[appearance=black] tabselector {
  display: inline-block;
}
tabselector tab {
  display: inline-block;
  height: 32px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  border-color: transparent;
  border-width: 6px 1px 6px 1px;
  border-image: url(theme/ios/blueBar.png) 6 1 6 1 round;
  -moz-border-image: url(theme/ios/blueBar.png) 6 1 6 1 round;
  -webkit-border-image: url(theme/ios/blueBar.png) 6 1 6 1 round;
  padding: 3px 20px;
  cursor: pointer;
}
tabselector tab:first-child {
  padding-left: 15px;
  border-color: transparent;
  border-width: 6px 0px 6px 6px;
  border-image: url(theme/ios/blueBar-start.png) 6 0 6 6 round;
  -moz-border-image: url(theme/ios/blueBar-start.png) 6 0 6 6 round;
  -webkit-border-image: url(theme/ios/blueBar-start.png) 6 0 6 6 round;
}
tabselector tab:last-child {
  padding-right: 15px;
  border-color: transparent;
  border-width: 6px 6px 6px 1px;
  border-image: url(theme/ios/blueBar-end.png) 6 6 6 1 round;
  -moz-border-image: url(theme/ios/blueBar-end.png) 6 6 6 1 round;
  -webkit-border-image: url(theme/ios/blueBar-end.png) 6 6 6 1 round;
}
tabselector tab[selected] {
  border-color: transparent;
  border-width: 6px 1px 6px 1px;
  border-image: url(theme/ios/blueBar-selected.png) 6 1 6 1 round;
  -moz-border-image: url(theme/ios/blueBar-selected.png) 6 1 6 1 round;
  -webkit-border-image: url(theme/ios/blueBar-selected.png) 6 1 6 1 round;
}
tabselector tab[selected]:first-child {
  border-color: transparent;
  border-width: 6px 0px 6px 6px;
  border-image: url(theme/ios/blueBar-selected-start.png) 6 0 6 6 round;
  -moz-border-image: url(theme/ios/blueBar-selected-start.png) 6 0 6 6 round;
  -webkit-border-image: url(theme/ios/blueBar-selected-start.png) 6 0 6 6 round;
}
tabselector tab[selected]:last-child {
  border-color: transparent;
  border-width: 6px 6px 6px 1px;
  border-image: url(theme/ios/blueBar-selected-end.png) 6 6 6 1 round;
  -moz-border-image: url(theme/ios/blueBar-selected-end.png) 6 6 6 1 round;
  -webkit-border-image: url(theme/ios/blueBar-selected-end.png) 6 6 6 1 round;
}
/*** notice panels ***/
notice {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
overlay[appearance=blue] notice {
  color: white;
  padding: 50px;
}
/*** Overlay ***/
.horizontal section overlay {
  height: 768px;
}
.vertical section overlay {
  height: 1024px;
}
overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
overlay > mask > border {
  position: relative;
  display: block;
  width: 700px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  min-height: 100px;
  max-height: 740px;
}
overlay > mask > border > close {
  display: block;
  position: absolute;
  width: 42px;
  height: 42px;
  left: -20px;
  top: -20px;
  background: url(theme/ios/overlay-close.png) no-repeat;
  z-index: 10;
  cursor: pointer;
}
overlay.noclose > mask > border > close {
  display: none;
}
overlay[appearance=white] > mask > border {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
}
overlay[appearance=white].hasHeader > mask > border > header {
  border-bottom: 1px solid #999;
}
/*** blue overlay ***/
overlay[appearance=blue] > mask > border {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: #1b1e2b;
  border: 3px solid white;
}
overlay[appearance=blue].hasHeader > mask > border > header {
  position: relative;
  top: -4px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  background-color: white;
}
overlay[appearance=blue] > mask > border > container {
  padding: 10px;
}
overlay[appearance=blue] label.head {
  color: white;
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em;
}
/*** white panel/container ***/
panel[appearance=white], container[appearance=white] {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
  background: white;
  border: 1px solid #ccc;
  font-size: 1.3em;
}
panel[appearance=white] > container > row, container[appearance=white] > row {
  width: 100%;
}
panel[appearance=white] > container > row > *, container[appearance=white] > row > * {
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}
panel[appearance=white] > container > row:last-child > *, container[appearance=white] > row:last-child > * {
  border-bottom-width: 0;
}
panel[appearance=white] > container > row > label, container[appearance=white] > row > label {
  width: 100%;
  font-weight: bold;
}
panel[appearance=white] {
  margin: 1em 10% 1.5em 10%;
  width: 80%;
}
panel[appearance=white] > container > row > label {
  width: 100%;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}
/*** grey panel ***/
panel[appearance=grey] {
  background-color: #40434f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
panel[appearance=grey] toolbar {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  height: 44px;
  background-image: url(theme/ios/greybar.png);
}
panel[appearance=grey] toolbar action {
  border: 0px;
  margin-left: 10px;
  margin-right: -5px;
}
panel[appearance=grey] toolbar label {
  text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0;
  font-size: 1.6em;
  color: #717880;
  font-weight: bold;
  text-align: center;
}
/*** popup panel (kinda a hybrid -- UI guidelines? ***/
listSelector {
  position: absolute;
  display: block;
  border-color: transparent;
  border-width: 50px 15px 15px 15px;
  border-image: url(theme/ios/blackPopup.png) 50 15 15 15 round;
  -moz-border-image: url(theme/ios/blackPopup.png) 50 15 15 15 round;
  -webkit-border-image: url(theme/ios/blackPopup.png) 50 15 15 15 round;
  z-index: 10000;
}
listSelector > container {
  margin: -20px -5px -5px;
}
listSelector > .arrow {
  position: absolute;
  left: 0;
  top: -48px;
  width: 100%;
  height: 20px;
  background: url(theme/ios/blackPopup-arrow.png) no-repeat top center;
}
listSelector label {
  white-space: nowrap;
  padding: 8px 60px 8px 12px;
}
listSelector row[selected] label {
  color: #1a4c8b;
  background: url(theme/ios/check.png) no-repeat right center;
}
listSelectorButton {
  padding: 10px 40px 10px 10px;
  color: #1a4c8b;
  background: url(theme/ios/moreArrow.png) no-repeat right center;
  white-space: nowrap;
}
/*** CheckSwitch - iOS style checkbox ***/
checkswitch {
  height: 27px;
}
checkswitch > span {
  position: relative;
  display: inline-block;
  width: 94px;
  height: 27px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  margin: 10px;
}
checkswitch div {
  display: inline-block;
  position: absolute;
  height: 27px;
  width: 149px;
  background: url(theme/ios/checkswitch-on.png), url(theme/ios/checkswitch-off.png);
  background-repeat: no-repeat;
  -webkit-transition: left ease-in 200ms;
}
checkswitch div.off {
  left: -55px;
  background: url(theme/ios/checkswitch-off.png) no-repeat;
}
checkswitch div.on {
  left: 0px;
  background: url(theme/ios/checkswitch-on.png) no-repeat;
}
/*** WebView -- full screen embedded web browser ***/
webview {
  position: absolute;
  left: 0px;
  top: 0px;
}
webview > iframe {
  position: absolute;
  top: 43px;
  border: 0px;
  background: white;
}
body.horizontal webview > iframe {
  width: 1024px;
  height: 725px;
}
body.vertical webview > iframe {
  width: 768px;
  height: 981px;
}
/*** Icons ***/
/* icon element -- use this inside a button with border-image */
icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  cursor: pointer;
}
icon[disabled] {
  opacity: .1;
  cursor: default;
}
/* Icon backgrounds -- attach by having a [icon] attribute on some element.
	   It's up to your calling context to set where/how the icon shows up.			*/
*[icon=add] {
  background-image: url(theme/icons/add.png);
}
*[icon=down] {
  background-image: url(theme/icons/down.png);
}
*[icon=horizontal] {
  background-image: url(theme/icons/horizontal.png);
}
*[icon=large] {
  background-image: url(theme/icons/large.png);
}
*[icon=left] {
  background-image: url(theme/icons/left.png);
}
*[icon=medium] {
  background-image: url(theme/icons/medium.png);
}
*[icon=moveBackwards] {
  background-image: url(theme/icons/moveBackwards.png);
}
*[icon=moveForwards] {
  background-image: url(theme/icons/moveForwards.png);
}
*[icon=moveToBack] {
  background-image: url(theme/icons/moveToBack.png);
}
*[icon=moveToFront] {
  background-image: url(theme/icons/moveToFront.png);
}
*[icon=refresh] {
  background-image: url(theme/icons/refresh.png);
}
*[icon=remove] {
  background-image: url(theme/icons/remove.png);
}
*[icon=right] {
  background-image: url(theme/icons/right.png);
}
*[icon=small] {
  background-image: url(theme/icons/small.png);
}
*[icon=save] {
  background-image: url(theme/icons/save.png);
}
*[icon=up] {
  background-image: url(theme/icons/up.png);
}
*[icon=vertical] {
  background-image: url(theme/icons/vertical.png);
}
*[icon=window] {
  background-image: url(theme/icons/window.png);
}
*[icon=windowChart] {
  background-image: url(theme/icons/windowChart.png);
}
*[icon=windowSwitch] {
  background-image: url(theme/icons/windowSwitch.png);
}
*[icon=windowTile] {
  background-image: url(theme/icons/windowTile.png);
}
*[icon=arrowRight] {
  background-image: url(theme/ios/arrowRightBlue.png);
  width: 29px;
  height: 29px;
}
*[icon=arrowLeft] {
  background-image: url(theme/ios/arrowLeftBlue.png);
  width: 29px;
  height: 29px;
}
*[icon=minusRed] {
  background-image: url(theme/ios/minusRed.png);
  width: 29px;
  height: 29px;
}
*[icon=minusRed].vertical {
  background-image: url(theme/ios/minusRedVertical.png);
}
*[icon=minusBlue] {
  background-image: url(theme/ios/minusBlue.png);
  width: 29px;
  height: 29px;
}
*[icon=plusBlue] {
  background-image: url(theme/ios/plusBlue.png);
  width: 29px;
  height: 29px;
}
*[icon=greySearch] {
  background-image: url(theme/ios/greySearch.png);
  width: 43px;
  height: 31px;
}
*[icon=greyExpand] {
  background-image: url(theme/ios/greyExpand.png);
  width: 43px;
  height: 31px;
}
*[icon=greyCollapse] {
  background-image: url(theme/ios/greyCollapse.png);
  width: 43px;
  height: 31px;
}
*[icon=greyZoomIn] {
  background-image: url(theme/ios/greyZoomIn.png);
  width: 43px;
  height: 31px;
}
*[icon=greyZoomOut] {
  background-image: url(theme/ios/greyZoomOut.png);
  width: 43px;
  height: 31px;
}
